
<html>
<head>
<title>DEVELOPERS PAGE
</title><link href="css/stylet.css" rel="stylesheet" />
 <link rel="icon" href="img/favicon.ico">
<link rel="shortcut icon" href="img/favicon.ico" />
</head>
<body  background="a2.jpg"><h1><center><B><font color="navy">
		LAZY BOYZ</font></B></center></h1>
		
		
		
			<div id="pf" class="pf">
				<img src="LAZY.PNG" class="pfimg"/>
			
			</div>							
		
		<div class="mypage"><h2><H1>&nbsp &nbsp TEAM MEMBERS </HR>
		
									<li>AKASH GARG</li>
									<li>PARAS WADHWA</li>
									<li>DEV GUPTA</li>
									<li>MEHUL GARG</li>
								</ul>
		
		
		</h2>
		</div>
</body>
		
		
		
</html>
