<html>
<head>
	<link rel="stylesheet" href="style/style.css" />
	 <link rel="icon" href="img/favicon.ico">
<link rel="shortcut icon" href="img/favicon.ico" />
</head>
<body>
<div class="container">
	<div class="header-bar">
		<div class="header-logo">
			<center>
				<a href="#">SENTIMENT ANALYSER</a>
			</center>
		</div>
		
		<div class="header-links">
		<center>
				<a href="#">EXIT</a>
		</center>
		</div>
		
		<div class="header-links">
		<center>
				<a href="#">WELCOME</a>
		</center>
		</div>
	</div>
		
	<div class="body-content" >
		<CENTER>
		<div class="asd"><img src="1.jpg" width=600 height=270 alt="logo"></div>
					<a href="http://localhost:5000/my-link/"><a href="process.html"><div class="asd"><img src="mic2.gif" width=100 height=150 alt="logo"></div></a>
					<!--<H2><input type="button" id="readMore" class="readButton" value="START" />--></a>
		</CENTER>
	</div>
</div>

<center>
 <footer id="footer" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="footer-logo wow fadeInDown">
                            <img src="cartoon.gif" width=200 height=150 alt="logo">
                        </div>

                        <div class="footer-social wow fadeInUp">
                            <h3>We are social</h3>
                            </div>

                        <div class="copyright">
                           <p>Theme by <a href="#">LAZY BOYZ</a> Developed by <a href="my.html">LAZY BOYZ</a></p>
                        </div>

                    </div>                             
    
                </div>
            </div>
        </footer></center>
</body>
</html>